.popup-slider-nav {
	display: flex;
	align-items: center;
	z-index: 10;
	position: absolute;
	bottom: 35px;
	left: 176px;
}

.popup-slider-nav__arrow {
	width: 12px;
	height: 19px;
	cursor: pointer;
}

.popup-slider-nav__arrow_type_left {
	transform: rotate(180deg);
	margin-right: 19px;
}

.popup-slider-nav__arrow_type_right {
	margin-left: 19px;
}

.popup-slider-nav__bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	border-radius: 50%;
	margin: 6px;
	transition: all 0.25s ease-in-out;
}

.popup-slider-nav__bullet_active {
	background-color: #fc6da9;
	border: none;
}
