.logo {
  max-width: 60px;
  position: fixed;
  bottom: 0;
  padding: 0 0 13px 100px;
}

.logo__link {
  text-decoration: none;
}

.logo__image {
  width: 100%;
  height: auto; 
  object-fit: contain;
}