.navtab {
  position: absolute;
  top: 50px;
  left: 215px;
  padding: 30px;
  border: 2px solid green;
  background-color: grey;
  z-index: 99;
}
.navtab__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.navtab__item {
  padding: 0 20px;
  border-left: 1px solid #000;
}
.navtab__item:first-of-type {
  padding: 0 20px;
  border-left: none;
}
.navtab__link {
  text-decoration: none;
  color: #fff;
}